* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.fa-whatsapp {
  color: green;
  font-size: 60px;
  position: fixed;
  right: 1%;
  bottom: 3%;
}

.redes {
  height: 55%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.insfa {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-size: 400%;
}

.fa {
  border: solid orange;
  background-color: transparent;
  border-radius: 50%;
  padding: 4px;
  margin: 4px;
}

.ins {
  border: solid orange;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.fa-brands {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.fa-brands .fa-instagram {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.fa-facebook-f:before {
  margin: 16px;
  font-size: 30px;
}

.fa-instagram:before {
  margin: 10px;
  font-size: 32px;
}

.fa:hover {
  color: white;
  background-color: orange;
}

.derechos {
  background-color: rgb(52, 18, 52);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

main {
  width: 100%;
  background-color: white;
}

.mainto {
  background-size: cover;
  background-image: url(/img/testimonials-background.jpg);
}

h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  color: #e0af49;
}

.textoUno {
  color: wheat;
  font-family: "Rubik", sans-serif;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
}

.texto {
  color: wheat;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  text-transform: none;
  text-align: center;
}

.wpb_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.rapido {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 43px;
  line-height: 50px;
  letter-spacing: -1.5px;
}

.mensajero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  vertical-align: middle;
}

.tyu {
  width: 100%;
  border: double;
  background-color: #563f4f;
}

.cuad {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.cuad2 {
  text-align: center;
  border: outset;
  margin: 50px 50px 50px 50px;
}

.cuad3 {
  margin: inherit;
  margin-bottom: 2.35em;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  margin-bottom: 0.35em;
  text-align: center;
  color: #45303f;
}

.cuad4 {
  text-align: center;
  font-size: 16px;
}

.cuad4-1 {
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  main {
    background-color: white;
  }

  .wpb_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    font-family: "Rubik", sans-serif;
  }

  .rapido {
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-size: 44px;
    margin: 48px 140px;
    border: 6px;
    color: #7f5a83;
  }

  .mensajero {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  main {
    background-color: gold;
  }

  .wpb_wrapper {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Rubik", sans-serif;
  }

  .rapido {
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-size: 44px;
    margin: 135px 80px;
    padding: 0px;
    border: 6px;
    color: #7f5a83;
  }

  .mensajero {
    display: none;
  }
}
section {
  background-color: #432534;
  vertical-align: middle;
}

form {
  text-align: center;
  font-size: 24px;
  color: orangered;
  border: 4px outset violet;
  margin: 0px 40px 0px;
}

input {
  font-size: 43%;
}

.cajas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: 350px;
  margin: 10px 1px 1px 1px;
}

.uno {
  color: #7f5a83;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-transform: none;
  text-align: center;
}

.zonaUno {
  border: 4px outset;
  padding: 30px 30px;
  font-size: 18px;
  overflow: auto;
  height: 30px;
  color: #6b6a6a;
  font-family: "Rubik", sans-serif;
}

.zona {
  border: 4px outset;
  padding: 30px 30px;
  font-size: 18px;
  overflow: auto;
  height: 275px;
  color: #6b6a6a;
  font-family: "Rubik", sans-serif;
}

header {
  background-color: #231326;
}

.divHeader {
  margin: 0px 17px 0px 17px;
}

A {
  color: white;
}

a:hover {
  color: orange;
  text-decoration: none;
}

.navbar-Modificado {
  text-decoration: none;
  font-size: 51px;
  color: orange;
  font-weight: bold;
}

.navBar-Cacmbiado {
  flex-direction: row;
}

.link-Nuevo {
  padding: 20px;
  font-size: 20px;
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.divTo {
  width: 100%;
  height: 100%;
  background-image: url(/img/slide-background.jpg);
  background-size: cover;
}

.animacion {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}

.iconDiv {
  padding: 30px 0;
}

.enviostodo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.to {
  display: flex;
  font-size: 20px;
  color: white;
  font-family: "Rubik", sans-serif;
}

.fa-solid {
  padding: 6px;
  color: #ff9f1f;
}

.subtitulo {
  color: white;
  font-weight: bolder;
  font-size: 50px;
}

.moto {
  width: 61%;
}

h1 {
  width: 432px;
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cd {
  margin-top: 40px;
  padding-top: 40px;
}

.simplificamos {
  background-color: white;
  background-image: none;
}

.footerImg {
  background-image: url(/img/footer-background.jpg);
  background-size: cover;
}

.delFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgFooter {
  width: 20%;
  margin: 17px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  color: white;
}

.numerito {
  font-size: 6rem;
  font-weight: bold;
  color: #ff9f1f;
}

@media screen and (max-width: 768px) {
  header {
    background-color: #231326;
  }

  .divHeader {
    margin: 0px 17px 0px 17px;
  }

  A {
    color: white;
  }

  a:hover {
    color: orange;
    text-decoration: none;
  }

  .navbar-Modificado {
    text-decoration: none;
    font-size: 51px;
    color: orange;
    font-weight: bold;
  }

  .navBar-Cacmbiado {
    flex-direction: row;
  }

  .link-Nuevo {
    padding: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }

  .iconDiv {
    padding: 0px 0px 85px 0px;
  }

  .enviostodo {
    padding: 0px 36px 0px 166px;
  }

  .to {
    display: flex;
    font-size: 1rem;
    color: white;
    font-family: "Rubik", sans-serif;
  }

  .fa-solid {
    padding: 6px;
    color: #ff9f1f;
  }

  .subtitulo {
    padding: 0px 36px 0px 166px;
    color: white;
    font-weight: bolder;
    font-size: 28px;
  }

  h1 {
    width: 432px;
    font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .cd {
    margin-top: 40px;
    padding-top: 40px;
  }

  .simplificamos {
    background-color: white;
    background-image: none;
  }

  .divTo {
    width: 100%;
    height: 100%;
    background-image: url(/img/slide-background.jpg);
    background-size: cover;
  }

  .animacion {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }

  footer {
    height: 381px;
  }

  h3 {
    font-size: 3rem;
  }

  .numerito {
    font-size: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .fa-whatsapp {
    font-size: 52px;
    right: 8%;
    bottom: 1%;
  }

  header {
    background-color: #231326;
  }

  .divHeader {
    margin: 0px 17px 0px 17px;
  }

  A {
    color: white;
  }

  a:hover {
    color: orange;
    text-decoration: none;
  }

  .navbar-Modificado {
    text-decoration: none;
    font-size: 51px;
    color: orange;
    font-weight: bold;
  }

  .navBar-Cacmbiado {
    flex-direction: row;
  }

  .link-Nuevo {
    padding: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }

  .divTo {
    width: 100%;
    height: 100%;
    background-image: url(/img/slide-background.jpg);
    background-size: cover;
  }

  .animacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconDiv {
    padding: 0;
  }

  .enviostodo {
    display: none;
  }

  .to {
    display: flex;
    font-size: 20px;
    color: white;
    font-family: "Rubik", sans-serif;
  }

  .fa-solid {
    padding: 6px;
    color: #ff9f1f;
  }

  .subtitulo {
    padding: 0px 128px 0px 132px;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
  }

  .moto {
    width: 85%;
  }

  h1 {
    width: 432px;
    font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .cd {
    margin-top: 40px;
    padding-top: 40px;
  }

  .simplificamos {
    background-color: white;
    background-image: none;
  }

  .footerImg {
    background-image: url(/img/footer-background.jpg);
    background-size: cover;
  }

  .delFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgFooter {
    width: 20%;
    margin: 17px;
  }

  h3 {
    font-family: "Rubik", sans-serif;
    font-size: 2rem;
    color: white;
  }

  .numerito {
    font-size: 3rem;
    font-weight: bold;
    color: #ff9f1f;
  }
}/*# sourceMappingURL=style.css.map */