*{ 
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;}

#barraDesktop{

main{
    background-color: #ffffff;
    

    h2{
    font-family: 'Rubik',sans-serif;
    text-align: center;
    font-size: 37px;
    padding: 50px;
    border: 6px;
    color: orange;

        .texto{
            color: #6b6a6a;
            font-family: 'Rubik',sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -.5px;
            text-transform: none;
            text-align: center;

            .wpb_wrapper{
                font-family: 'Rubik',sans-serif;
                display: flex;
                flex-direction:row-reverse;
               

                .rapido{
                    font-family: 'Rubik',sans-serif;
                    text-align: center;
                    font-size: 44px;
                    margin: 135px 80px;
                    padding: 0px;
                    border: 6px;
                    color:  #7f5a83;
                    @media screen and (min-width:99px){
                        
                    
                    .mensajero{
                        display: none;
                        height: 400px;
                        vertical-align: middle;

                    }
                }
                }

            }

        }
    }
}
}

#barraMobile{

}