
header{
    background-color: map-get( $header, bg )   
}

A {    
    color: white;
}

a:hover{
    color:orange;
    text-decoration: none;}

.barrita{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    @media (max-width: 768px){
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
}
    .navbar-Modificado{
        text-decoration: none;
        font-size: 51px;
        color: #e67e22;
        font-weight: bold;
    }
    .boton1{
        
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
        background-color: transparent;
        display: none;
        @media (max-width: 768px){
            display: inline;
        }
        .boton2{
            display: inline;
        }

    }


.navBar-Cambiado{
   flex-direction: row; 
    @media (max-width: 768px){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
   }
   .link-Nuevo{
    padding: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Rubik',sans-serif;
        @media (max-width: 768px){
        padding: 10px 0;
        font-size: 13px;
        width: 100%;
        border-bottom: solid 1px #ffa5006b;
        }
    }
    .nuevo-link{
    padding: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Rubik',sans-serif;
    @media (max-width: 768px){
        padding: 10px 0;
        font-size: 13px;
        width: 100%;
        }
    }
    
}





.navbar-men .navbar-menu{
    color: rgba(0,0,0,.55);
    border-color: rgb(255 165 0);
}
.navbar-menu{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}




.divTo{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide-background.jpg);
    background-size: cover;
}
.animacion{
    
    display: flex;
    padding-left: 5%;
    padding-right: 6%;
    flex-direction: row;
    align-items: flex-start;
}
.iconDiv{
    padding: 30px 0;
}
.enviostodo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.to{
    display: flex;
    font-size: 20px;
    color: white;
    font-family: "Rubik", sans-serif;
}
.fa-solid{
    padding: 6px;
    color: #ff9f1f;
}

.subtitulo{
    color: white;
    font-weight:bolder;
    font-size: 50px;
}
.moto{
    width: 61%; 
    padding-top: 3%;
}
h1 {
    width: 432px;
    font-family: 'Rubik','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cd{
    margin-top: 40px;
    padding-top: 40px;
}
.simplificamos{
    background-color: white;
    background-image: none;
    
}
.home-2{
    text-align: center;
}
.home-3{
    width: 83%;
    padding-left: 21%;
    margin-top: 3%;
    .home-4{
        margin-bottom: 2%;
        font-family: "Rubik", sans-serif;
        font-size: 2rem;
        color: #45303f;
        text-align: center;
        .home5{
            margin-bottom: 7%;
        }
    }
}
.home-6{
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
    @media (max-width: 768px){
        padding-right: 3%;
    padding-left: 3%;
    }
    .home-6-1{
        display: flex;
        flex-direction: row;
        @media (max-width: 425px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
}

.home-7{
    margin-top: 3%;
    width: 50%;
}
.home-8{
   
    .home-9{
        padding-right: 6%;
        display: flex;
        @media (max-width: 768px){
            padding-right: 0;
        }
        .home-10{
            
            .home-11{
               font-size: 2.2rem;
               @media (max-width: 768px){
                font-size: 2rem;
               }
            }
            .home-12{
                font-size: 2rem;
                @media (max-width: 768px){
                    font-size: 1.5rem;
                }
            }
        }
    }
}




.footerImg{
    background-image: url(../img/footer-background.jpg);
    background-size: cover;
}
.delFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgFooter{
    width: 20%;
    margin: 17px;
}
h3{
    font-family: 'Rubik',sans-serif;
    font-size: 4rem;
    color: white;
}
.numerito{
    font-size: 6rem;
    font-weight: bold;
    color: #ff9f1f;
}



@media screen and (max-width: 768px){
    header{
        background-color: map-get( $header, bg )   
    }
    .divHeader{
        margin: 0px 17px 0px 17px;
    }
    A {    
        color: white;
    }
    
    a:hover{
        color:orange;
        text-decoration: none;}
    .navbar-Modificado{
        text-decoration: none;
        font-size: 51px;
        color: orange;
        font-weight: bold;
    }
    .navBar-Cacmbiado{
       flex-direction: row;
      
    }
    .link-Nuevo{
        padding: 20px;
        font-size: 20px;
        color: red;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Rubik',sans-serif;
    }
    .iconDiv{
        
        padding: 0px 0px 85px 0px;
    }
    .enviostodo{
        padding: 0px 36px 0px 166px;
    }
    .to{
        display: flex;
        font-size: 1rem;
        color: white;
        font-family: "Rubik", sans-serif;
    }
    .fa-solid{
        padding: 6px;
        color: #ff9f1f;
    }
    
    .subtitulo{
        padding: 0px 36px 0px 166px;
        color: white;
        font-weight:bolder;
        font-size: 28px;
    }
     
    
    h1 {
        width: 432px;
        font-family: 'Rubik','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cd{
        margin-top: 40px;
        padding-top: 40px;
    }
    .simplificamos{
        background-color: white;
        background-image: none;
    }
    
    
    .divTo{
        width: 100%;
        height: 100%;
        background-image: url(../img/slide-background.jpg);
        background-size: cover;
    }
    .animacion{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
    }
    
    h3{
        font-size: 3rem;
    }
    .numerito{
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px){
    
    .fa-whatsapp {
        font-size: 52px;
        right: 8%;
        bottom: 1%;
    }
    
    header{
        background-color: map-get( $header, bg )   
    }
    .divHeader{
        margin: 0px 17px 0px 17px;
    }
    A {    
        color: white;
    }
    
    a:hover{
        color:orange;
        text-decoration: none;}
    .navbar-Modificado{
        text-decoration: none;
        font-size: 51px;
        color: orange;
        font-weight: bold;
    }
    .navBar-Cacmbiado{
       flex-direction: row;
      
    }
    .link-Nuevo{
        padding: 20px;
        font-size: 20px;
        color: red;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Rubik',sans-serif;
    }
    
    
    .divTo{
        width: 100%;
        height: 100%;
        background-image: url(../img/slide-background.jpg);
        background-size: cover;
    }
    .animacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .iconDiv{
        padding: 0;
    }
    .enviostodo{
        display: none;
    }
    .to{
        display: flex;
        font-size: 20px;
        color: white;
        font-family: "Rubik", sans-serif;
    }
    .fa-solid{
        padding: 6px;
        color: #ff9f1f;
    }
    
    .subtitulo{
        padding: 0px 128px 0px 132px;
        font-size: 2rem;
        color: white;
        font-weight:bolder;
        
    }
    .moto {
        width: 85%;
    }
    h1 {
        width: 432px;
        font-family: 'Rubik','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cd{
        margin-top: 40px;
        padding-top: 40px;
    }
    .simplificamos{
        background-color: white;
        background-image: none;
    }
    
    
    
    .footerImg{
        background-image: url(../img/footer-background.jpg);
        background-size: cover;
    }
    .delFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgFooter{
        width: 20%;
        margin: 17px;
    }
    
    h3{
        font-family: 'Rubik',sans-serif;
        font-size: 2rem;
        color: white;
    }
    
    .numerito{
        font-size: 3rem;
        font-weight: bold;
        color: #ff9f1f;
    }
    
    
    
}


