*{ 
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;}

#grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 37% 29% 23%;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "aside aside aside section"
    "pie pie pie pie";
 
}
header{
    grid-area: header;
    background-color: map-get( $header , bg )
    
}
.navbar-Modificado{
    text-decoration: none;
    font-size: 51px;
    color: orange;
    font-weight: bold;
}
.navBar-Cacmbiado{
   flex-direction: row;
  
}
.link-Nuevo{
    padding: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Rubik',sans-serif;
}




.subtitulo{
    color: white;
    font-weight:bolder;
    font-size: 60px;
}
h1 {

        margin-left: 13px;
        padding: 154px;
        width: 380px;
        height: 0;
        position: absolute;
        top: 0;
        left: 38px;
        font-family: 'Rubik','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.simplificamos{
    background-color: white;
    background-image: none;
}
.animacion{
    
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    grid-area: nav;

}
img{
   
    padding: 0px 0px 0px 300px;
}



section{
   background-color: #432534;
    
    
    vertical-align: middle;
    
    grid-area: section;
}

form{
    
        text-align:center;
        font-size: 24px;
        color: orangered;
        border: 4px outset violet;
        margin: 0px 40px 0px;
    
}
input{
    font-size: 43%;
}

aside{
    
    
    grid-area: aside;
}
.cajas{
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    height:  350px;
    margin: 10px 1px 1px 1px
}

.uno{
    color: #7f5a83; 
    font-family: 'Rubik',sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.5px;
    text-transform: none;
    text-align: center;
}

.zonaUno{
    border:  4px outset;
    padding: 30px 30px;
    font-size: 18px;
    overflow: auto;
    height: 30px;
    color: #6b6a6a;
    font-family: 'Rubik',sans-serif;
}
.zona{
    border:  4px outset;
    padding: 30px 30px;
    font-size: 18px;
    overflow: auto;
    height: 275px;
    color: #6b6a6a;
    font-family: 'Rubik',sans-serif;
}

footer{
    background-color: #B784F6;
    height: 200px;
    grid-area: pie;
}
i{
    color: green;
    font-size: 80px;
    position: fixed;
    right: 0%;
    bottom: 0%;
}
