#barraDesktop{
main{
    background-color: brown;}
    

    h2{
    font-family: 'Rubik',sans-serif;
    text-align: center;
    font-size: 37px;
    padding: 50px;
    border: 6px;
    color: orange;}

        .texto{
            color: #6b6a6a;
            font-family: 'Rubik',sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -.5px;
            text-transform: none;
            text-align: center;}

            .wpb_wrapper{
                display: flex;
                flex-direction:row-reverse;
                font-family: 'Rubik',sans-serif;
                
             }
               

                .rapido{
                    font-family: 'Rubik',sans-serif;
                    text-align: center;
                    font-size: 44px;
                    margin: 135px 80px;
                    padding: 0px;
                    border: 6px;
                    color:  #7f5a83;}
                    
                        
                    
                    .mensajero{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        height: 400px;
                        vertical-align: middle;

                    }
}
                    @media screen and (max-width: 992px){
                        #barraTablets
                        main{
                            background-color: white;}
                        .wpb_wrapper{
                            display: flex;
    flex-direction:column-reverse;
                            font-family: 'Rubik',sans-serif;
                            }
                           
            
                            .rapido{
                                font-family: 'Rubik',sans-serif;
                                text-align: center;
                                font-size: 44px;
                                margin: 135px 80px;
                                padding: 0px;
                                border: 6px;
                                color:  #7f5a83;}
                                
                                .mensajero{

                                    display:none
            
                                }
                               
                    }
                
                

            

        
    

