
main{
    width: 100%;
    background-color: white;
}

.mainto{
    background-size: cover;
    background-image: url(/img/testimonials-background.jpg);
}

    h2{
    font-family: 'Rubik',sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    color: #e0af49;
    }
    .textoUno{
            color: wheat;
            font-family: 'Rubik',sans-serif;
            font-size: 23px;
            line-height: 28px;
            text-align: center;
    }
        .texto{
            color: wheat;
            font-family: 'Rubik',sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-style: normal;
            text-transform: none;
            text-align: center;
        }

            .wpb_wrapper{
                display: flex;
                justify-content: center;
                flex-direction: row-reverse;
                align-items: center;
            }
               

                .rapido{
                    color: white;
                    font-family: 'Rubik', sans-serif;
                    font-size: 43px;
                    line-height: 50px;
                    letter-spacing: -1.5px;
                }
                    
                        
                    
                    .mensajero{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        height: 400px;
                        vertical-align: middle;
                    }

.tyu{
    width: 100%;
    border: double;
    background-color: #563f4f;
}

.cuad{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.cuad2{
    text-align: center;
    border: outset;
    margin: 50px 50px 50px 50px;
}

.cuad3{
    margin: inherit;
    margin-bottom: 2.35em;
}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    margin-bottom: .35em;
    text-align: center;
    color: #45303f;
}

.cuad4{
    text-align: center;
    font-size: 16px;
}
.cuad4-1{
    text-align: center;
    
    font-size: 16px;
}


                    @media screen and (max-width: 992px){
                        
                        main{
                            background-color: white;
                        }
                            
                            .wpb_wrapper{
                            display: flex;
                            justify-content: center;
                            flex-direction:column-reverse;
                            font-family: 'Rubik',sans-serif;
                            }
                           
            
                            .rapido{
                                display: flex;
                                justify-content: center;
                                font-family: 'Rubik',sans-serif;
                                text-align: center;
                                font-size: 44px;
                                margin: 48px 140px;
                                border: 6px;
                                color:  #7f5a83;
                            }
                                
                                .mensajero{
                                    display: none;
                                }
                            }
                               
                    @media screen and (max-width: 480px){
                        main{
                            background-color: gold;
                        }
                            
                            .wpb_wrapper{
                            display: flex;
                            flex-direction:column-reverse;
                            font-family: 'Rubik',sans-serif;
                            }
                           
            
                            .rapido{
                                font-family: 'Rubik',sans-serif;
                                text-align: center;
                                font-size: 44px;
                                margin: 135px 80px;
                                padding: 0px;
                                border: 6px;
                                color:  #7f5a83;
                            }
                                
                                .mensajero{

                                    display:none
            
                                }
                            }

                    
                
                

            

        
    

