main{
    background-image: url(../img/testimonials-background.jpg);
    background-size: cover;
    background-position: center
}
.maintodos{
    
    padding-top: 50px;
    text-align: center;
    .maintocuatro{
        padding-left: 15px;
        padding-right: 15px;
        h2{
            font-weight: 550;
            font-size: 43px;
            line-height: 50px;
            letter-spacing: -1.5px;
            font-family: 'Rubik',sans-serif;
            text-align: center; 
            color: #e0af49;
            @media (max-width: 768px){
                font-size: 40px;
            }
        }
        .line-main{
            margin-top: 12px;
            margin-bottom: 12px;
            background-color: #ff9f1f;
            height: 5px;
            width: 50px;
            margin-left: 50%;
            @media (max-width: 768px){
                margin-left: 45%;
            }
        }
        .textoUno{
            font-family: 'Rubik', sans-serif;
            font-size: 18px;
            line-height: 30px;
            font-weight: 550;
            letter-spacing: -0.5px;
            color: wheat;
            text-align: center;
            @media (max-width: 768px){
                font-size: 17px;
            }
        }
        .texto{
            font-family: 'Rubik', sans-serif;
            font-size: 18px;
            line-height: 30px;
            font-weight: 550;
            letter-spacing: -0.5px;
            color: wheat;
            text-align: center;
            @media (max-width: 768px){
                font-size: 17px;
            }
        }
    }
}
.maintoocho{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            align-items: center;
            @media (max-width: 768px){
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .maintonueve{
                 margin-left: 37px;
                 @media (max-width: 768px){
                    margin-left: 0px;
                 }
                .mensajero{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    height: 400px;
                    vertical-align: middle;
                    }
            }
            .rapido{
                color: wheat;
                font-family: 'Rubik', sans-serif;
                font-size: 43px;
                line-height: 50px;
                letter-spacing: -1.5px;
                
            }
            .line-div{
                margin-top: 12px;
                margin-bottom: 12px;
                background-color: #ff9f1f;
                height: 5px;
                width: 100px;
            }
}

.tyu{
    
    background-color: #563f4f;
}

.cuad{
    display: flex;
    flex-direction: row;
    @media (max-width: 990px){
        flex-direction: column;
    }
}
.cuad2{
    
    box-shadow: 3px 4px 10px 0px rgb(74 42 62 / 10%);
    margin: 34px;
    text-align: center;
    border: outset;
    background-color: white;
    .cuad2-1{
        padding-left: 30px;
        padding-right: 30px;
    }
}

.cuad3{
    margin: inherit;
    margin-bottom: 2.35em;
    padding-top: 77px;
}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    margin-bottom: .35em;
    text-align: center;
    color: #45303f;
}

.cuad4{
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 100px;
}
.cuad4-1{
    text-align: center;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 65px;
}


                    

                    
                
                

            

        
    

